<div class="container-fluid bg-info" style="height: 70px;">
  <div class="row">
    <div  class="col-sm-1">
    </div>
    <div class="col-sm-11">
        <nav class="navbar navbar-light">
            <span class="navbar-brand mb-0 h1"><h3>Web Solutions Buddy</h3></span>
        </nav>
    </div>
  </div>
</div>
<br>
<div class="container jumbotron">
  <p class="text-center" style="font-size: 20px;"><b>Searching for a good web developer?</b></p>
<p style="font-size: 20px;">
  Have you been searching for a web developer to understand your business needs and provision a web tool to capture the
  key metrics or do you just require a website to create an online presence of your business or are you looking for an extra
  person' help in any software you are developing.
  Glad to let you know that I can help in person with what ever your requirement is. As an independent professional
  I have the freedom to evade time consuming process' that other big organisations require and get down to direct
  business. As a budding freelancer I wish to avoid all types of fees possible and will also be able to provide you with a competitive pricing.
</p>
<p style="font-size: 20px;">
  Services offered:
</p>
  <ul>
    <li>Dynamic websites</li>
    <li>Static websites</li>
    <li>Digital marketing</li>
    <li>SEO</li>
    <li>Website hosting</li>
    <li>Web application maintenance</li>
  </ul>

</div>

<div class="container jumbotron">

    <h3>Websites developed</h3>

  <hr>
  <br>
  <br>
  <!-- <div class="row">
    <div class="col-sm-6 text-center">
        <div class="thumbnail">
            <a href="http://www.financiallysecurefuture.co" target="_blank">
              <img src="assets/images/financiallysecurefuture.png" alt="Click to visit site"/>
            </a>
            <div class="caption">
              <h3>Static Website</h3>
              <p><a href="http://www.financiallysecurefuture.co" target="_blank" class="btn btn-primary" role="button">Click</a></p>
            </div>
          </div>
    </div>
    <div class="col-sm-6 text-center">
        <div class="thumbnail">
            <a href="http://35.231.122.122:8089/browse/home" target="_blank">
              <img src="assets/images/thakolk.png" alt="Click to visit site"/>
            </a>
            <div class="caption">
              <h3>Dynamic Website</h3>
              <p><a href="http://35.231.122.122:8089/browse/home" target="_blank" class="btn btn-primary" role="button">Click</a></p>
            </div>
          </div>
    </div>
  </div> -->
  <div class="row">
      <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://www.financiallysecurefuture.co"></iframe>
        </div>
        <div class="caption text-center">
            <hr>
            <h3>Static Website</h3>
            <p><a href="http://www.financiallysecurefuture.co" target="_blank" class="btn btn-primary" role="button">Visit Site</a></p>
        </div>
      </div>
      <div class="d-sm-none"><hr></div>
      <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://35.231.122.122:8089/index.html"></iframe>
        </div>
        <div class="caption text-center">
            <hr>
            <h3>Dynamic Website</h3>
            <p><a href="http://35.231.122.122:8089" target="_blank" class="btn btn-primary" role="button">Visit Site</a></p>
        </div>
      </div>
  </div>
</div>
<div class="container jumbotron">
  <h3>Contact</h3>
  <hr>
  <p>Please feel free to call/text or send an email if you find my skills can add value to your enterprise or work. </p>
  <p><b>Call/Text</b> - (289)-943-6858</p>
  <p><b>Email</b> - thomasvalikodath@gmail.com</p>
  <p><b>Location</b> - Canada</p>
</div>
<div class="container-fluid text-center bg-info">2019</div>
